.ash-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.ash-scrollbar::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.ash-scrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

.__react_modal_image__icon_menu {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* POST CONTENT CSS */
.post-content p {
  margin-bottom: 20px;
}

.post-content strong {
  font-weight: 600;
}

.post-content ul,
.post-content ol {
  margin: 16px 0;
}

.post-content li {
  margin-left: 1.5em;
}

.post-content blockquote {
  line-height: 1.5rem;
  margin: 0 0 1.5rem 0;
  padding: 15px 20px;
  background-color: #181c28;
  border-left: solid 5px #212735;
}

.post-content a {
  color: #6b7280;
  font-weight: 600;
  cursor: pointer;
}

.post-content a:hover {
  color: #4b5563;
  text-decoration: underline;
}
